# PG_USER=authentik
# PG_NAME=authentik
PG_PASS=854f56765e70f90f23d14714a49b52589a616481516d46386db0dbfd8e11fbc9
AUTHENTIK_SECRET_KEY=ZWSvP/lDgsNcPhObPthat91IsjYFTzzsxN5CraT7bvo=
AUTHENTIK_ERROR_REPORTING__ENABLED=true
# SMTP Host Emails are sent to
AUTHENTIK_EMAIL__HOST=
AUTHENTIK_EMAIL__PORT=
# Optionally authenticate (don't add quotation marks to your password)
AUTHENTIK_EMAIL__USERNAME=
AUTHENTIK_EMAIL__PASSWORD=
# Use StartTLS
AUTHENTIK_EMAIL__USE_TLS=false
# Use SSL
AUTHENTIK_EMAIL__USE_SSL=true
AUTHENTIK_EMAIL__TIMEOUT=10
# Email address authentik will send from, should have a correct @domain
AUTHENTIK_EMAIL__FROM=noreply@yourdomain.com
AUTHENTIK_TAG=2023.10.7
